<header>
    <div class="contenedor-header">
     <div class="posicion-menu width-cajas-header">       
       
       <div class="dropdown">
         <i class="fa-solid fa-bars posicion-menu dropbtn"></i>
          <div class="dropdown-content">
           <a href="abstracto_espatula" class="tamaño-letra-menu-desplegable">Abstracto con espatula</a>
           <a href="abstracto_pincel" class="tamaño-letra-menu-desplegable">Abstracto con pincel</a>
           <a href="fotomontaje" class="tamaño-letra-menu-desplegable">Fotomontaje</a>
           <a href="pouring" class="tamaño-letra-menu-desplegable">Pouring</a>
           <a href="cuadros_decorativos" class="tamaño-letra-menu-desplegable">Cuadros decorativos</a>
           <a href="cuadros_artistas_nuevos" class="tamaño-letra-menu-desplegable">Artistas nuevos</a>
         </div>
       </div>  
     </div>  
     <div class="posicion-logo width-cajas-header">
      <img class="tamaño-logo " src="images/logo2.png" alt="logo">
     </div>
     <div class="acceso width-cajas-header">     
       <a href="login" ><i class="fa-solid fa-user tamaño-icono-acceso"></i></a>
       <a href="carrito" ><i class="fa-solid fa-bag-shopping tamaño-icono-acceso"></i></a>
       <a href="/"><i class="fa-solid fa-house tamaño-icono-acceso"></i></a>
     </div>  
    </div>        
   </header>     