<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <header>
            <div class="contenedor-header">
               <div class="posicion-menu width-cajas-header">       
                  <i class="fa-solid fa-bars posicion-menu"></i>
                  <div class="drop-down">
                    <ul>
                      <li>Abstracto con espatula</li>
                      <li>Abstracto con pincel</li>
                      <li>Fotomontaje</li>
                      <li>Pouring</li>
                      <li>Cuadros decorativos</li>
                      <li>Artistas nuevos</li>
                    </ul>
                  </div>  
                </div>  
                <div class="posicion-logo width-cajas-header">
                 <img class="tamaño-logo " src="images/logo2.png" alt="logo">
                </div>
                <div class="acceso width-cajas-header">     
                  <a href="login.html" ><i class="fa-solid fa-user tamaño-icono-acceso"></i></a>
                  <a href="carrito.html" ><i class="fa-solid fa-bag-shopping tamaño-icono-acceso"></i></a>
                </div>  
               </div>        
        </header>     
    <main>
        <h3 class="margin-top subrayado">Abstracto con Pincel</h3>
        <div class="contenedor-cuadros-espatula">
        <div class="item padding-bottom">                       
           <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 1m.jpg"></a></div>            
           <div class="contenedor-detalle-carrito">
            <div class="caja-detalle-cuadro">
                <p class="tamaño-letra-detalle-cuadro">
                     <b>Técnica: abstracto con pincel </b> <br>
                     <b>Dimensiones: 50x70</b> <br>
                     <b>Bastidor en lienzo</b><br>
                </p>
            </div>
            <div class="carrito-centrado">
                <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
            </div>
           </div>
        </div>
        <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 2m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 70x90</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 3m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 50x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 4m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 70x90</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 5m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 6m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 90x60</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 7m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 8m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 100x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 9m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/abstracto pincel 10m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                </p>
             </div>  
                 <div class="carrito-centrado">
                  <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
                </div>   
             </div>
            </div>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="margen-derecho width-cajas-footer">
             <h4 class="margen-h4-footer">¿Quienes somos?</h4>
             <ul>
               <li>Acerca de nosotros</li>
               <li>Nuestros artistas</li>
               <li>El equipo</li>
               <li>Criterios de seleccion</li>
             </ul>
            </div>
            <div class="margen-derecho width-cajas-footer">
             <h4 class="margen-h4-footer">Contactenos</h4>
             <ul>
               <li>Tel: +23 1234 5678</li>
               <li>contacto@digitalarts.com.ar</li>          
             </ul>             
             <h4 class="margen-h4-footer">Nos podes encontrar en:</h4>         
             <ul class="icono-redes caja-redes">
             <li><a href="#" style="color:deeppink;"><i class="fab fa-instagram"></i></a></li>   
             <li><a href="#" style="color:deepskyblue;"><i class="fab fa-facebook"></i></a></li>
             <li><a href="#" style="color:lawngreen;"><i class="fab fa-whatsapp"></i></a></li>
             </ul> 
            </div> 
           </div>
      </footer>
  </body>
  </html>