<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="icon" href="images/logo_web.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <%- include("./partials/header") %>
    
    <main>
        <h3 class="margin-top subrayado">Abstracto espatula</h3>
        <div class="contenedor-cuadros-espatula">
        <div class="item padding-bottom">                       
           <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 1m.jpg"></a></div>            
           <div class="contenedor-detalle-carrito">
            <div class="caja-detalle-cuadro">
                <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b><br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                </p>
            </div>
            <div class="carrito-centrado">
                <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
            </div>
           </div>
        </div>
        <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 2m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                     <b>Técnica: acrilico con espátula </b> <br>
                     <b>Dimensiones: 40x50</b> <br>
                     <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 3m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula </b> <br>
                    <b>Dimensiones: 40x60</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 4m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 40x40</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 5m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 60x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 6m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 50x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 7m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                     <b>Técnica: acrilico con espátula</b> <br>
                     <b>Dimensiones: 60x80</b> <br>
                     <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 8m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 70x90</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 9m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 70x90</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 10m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 50x60</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom ultimo-cuadro-querie">                       
            <div><a href="carrito"><img class="img-cuadro" src="images/abstracto espatula 11m.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica: acrilico con espátula</b> <br>
                    <b>Dimensiones: 40x60</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

  </body>
  </html>