<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
     <div class="contenedor-header">
      <div class="posicion-menu width-cajas-header">
        <!--<button>Menu</button>--->
        <i class="fa-solid fa-bars posicion-menu"></i>
        <div class="drop-down">
          <ul>
            <li>Abstracto con espatula</li>
            <li>Abstracto con pincel</li>
            <li>Fotomontaje</li>
            <li>Pouring</li>
            <li>Cuadros decorativos</li>
            <li>Artistas nuevos</li>
          </ul>
        </div>  
      </div>  
      <div class="posicion-logo width-cajas-header">
       <img class="tamaño-logo " src="images/logo2.png" alt="logo">
      </div>
      <div class="acceso width-cajas-header">     
        <a href="login.html" ><i class="fa-solid fa-user tamaño-icono-acceso"></i></a>
        <a href="carrito.html" ></a><i class="fa-solid fa-bag-shopping tamaño-icono-acceso"></i></a>
      </div>  
     </div>     
    </header>     
    <main>
      <br>
      <div class="contenedor-detalle-carrito caja-carrito-unidad ">
          <div class="caja-compra-cuadro">
            <img class="cuadro-carrito" src="images/abstracto espatula 10m.jpg" alt="imagen de prueba">
          </div>
          <div class="caja-precio-cuadro">
            <p class="tamaño-precio">$10.000</p>
          </div>
      </div>
      <br>
      <div class="contenedor-detalle-carrito caja-carrito-unidad">
        <div class="caja-compra-cuadro">
          <img class="cuadro-carrito" src="images/abstracto espatula 1m.jpg" alt="imagen de prueba">
        </div>
        <div class="caja-precio-cuadro">
          <p class="tamaño-precio">$15.000</p>
        </div>
      </div>
      <br>
      <div class="contenedor-detalle-carrito caja-carrito-unidad">
        <div class="caja-compra-cuadro">
          <img class="cuadro-carrito" src="images/abstracto espatula 2m.jpg"  alt="imagen de prueba">
        </div>
        <div class="caja-precio-cuadro">
          <p class="tamaño-precio">$20.000</p>
        </div>
      </div>
      <br>
      <div class="contenedor-detalle-carrito caja-total">
          <div>
              <p class="tamaño-letra-total">TOTAL</p>
          </div>
          <div class="medida-caja-precio">
              <p>$</p>
          </div>
      </div>
      <div class="icono-redes">
        <button class="boton-compra-carrito">CONTINUAR COMPRA</button>
      </div>
    </main>
    <footer>
      <div class="contenedor-footer">
       <div class="margen-derecho width-cajas-footer">
        <h4>¿Quienes somos?</h4>
        <ul>
          <li>Acerca de nosotros</li>
          <li>Nuestros artistas</li>
          <li>El equipo</li>
          <li>Criterios de seleccion</li>
        </ul>
       </div>
       <div class="margen-derecho width-cajas-footer">
        <h4>Contactenos</h4>
        <ul>
          <li>Tel: +23 1234 5678</li>
          <li>contacto@digitalarts.com.ar</li>          
        </ul>             
        <h4>Nos podes encontrar en:</h4>         
        <ul class="icono-redes caja-redes">
        <li><a href="#" style="color:deeppink;"><i class="fab fa-instagram"></i></a></li>   
        <li><a href="#" style="color:deepskyblue;"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" style="color:lawngreen;"><i class="fab fa-whatsapp"></i></a></li>
        </ul> 
      </div> 
       </div>
      </div>
    </footer>
</body>
</html>