<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <main>
        <h3 class="margin-top subrayado">Cuadros decorativos</h3>
        <div class="contenedor-cuadros-espatula">
        <div class="item padding-bottom">                       
           <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo1.png"></a></div>            
           <div class="contenedor-detalle-carrito">
            <div class="caja-detalle-cuadro">
                <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                </p>
            </div>
            <div class="carrito-centrado">
                <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
            </div>
           </div>
        </div>
        <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo2.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo3.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo4.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo5.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo6.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo7.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 200x150<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/cuadro decorativo8.png"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Técnica:</b> Impresión de Vinilo Mate con tintas Latex<br>
                    <b>Dimensiones:</b> 80x80<br>
                    <b>Bastidor macizo en madera</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
        </div>
    </main>
    
    <%- include("./partials/footer.ejs") %>

  </body>
  </html>