<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
       <img src="images/logo2.png" alt="logo">
    </header>
    <main>
        <h3>Nuestras pintuas</h3>
     <div class="caja1"> 
      <div class="subcaja1">
        <img src="images/acrilico espatula.jpg" alt="acrilico espatula">
        <h5>acrilico con espatula</h5>
      </div>
      <div class="subcaja1"> 
        <img src="images/acrilico pincel.jpg" alt="acrilico pincel">
        <h5>acrilico con pincel</h5>
      </div>
    </div>
    <div class="caja2"> 
      <div class="subcaja2">
        <img src="images/pouring.jpg" alt="pouring">
        <h5>pouring</h5>
      </div>
      <div class="subcaja2">
        <img src="images/fotomontaje.jpg" alt="fotomontaje">
        <h5>fotomontaje</h5>
      </div>
    </div>
        <h3>Cuadros decorativos</h3>
        <img src="images/cuadro decorativo.png">
        <h3>Cuadros de artistas nuevos</h3>
        <img src="images/cuadro decorativo3.png" alt="cuadro de artista nuevo">
    </main>
    <footer>

    </footer>
</body>
</html>