<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
     <div class="contenedor-header">
      <div class="posicion-menu width-cajas-header">       
        
        <div class="dropdown">
          <i class="fa-solid fa-bars posicion-menu dropbtn"></i>
           <div class="dropdown-content">
            <a href="abstracto_espatula.html" class="tamaño-letra-menu-desplegable">Abstracto con espatula</a>
            <a href="abstracto_pincel.html" class="tamaño-letra-menu-desplegable">Abstracto con pincel</a>
            <a href="fotomontaje.html" class="tamaño-letra-menu-desplegable">Fotomontaje</a>
            <a href="pouring.html" class="tamaño-letra-menu-desplegable">Pouring</a>
            <a href="cuadros_decorativos.html" class="tamaño-letra-menu-desplegable">Cuadros decorativos</a>
            <a href="cuadros_artistas_nuevos.html" class="tamaño-letra-menu-desplegable">Artistas nuevos</a>
          </div>
        </div>  
      </div>  
      <div class="posicion-logo width-cajas-header">
       <img class="tamaño-logo " src="images/logo2.png" alt="logo">
      </div>
      <div class="acceso width-cajas-header">     
        <a href="login.html" ><i class="fa-solid fa-user tamaño-icono-acceso"></i></a>
        <a href="carrito.html" ><i class="fa-solid fa-bag-shopping tamaño-icono-acceso"></i></a>
      </div>  
     </div>        
    </header>     
    <main>
     <h1 class="estilo-h1">Descubre nuestra coleccion de Arte</h1> 
     <div class="contenedor-home">   
      <div class="item">
        <img class="img-cuadro" src="images/abstracto espatula 1m.jpg" alt="acrilico espatula">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="abstracto_espatula.html">Abstracto con espatula</a></h5>
      </div>
      <div class="item" > 
        <img class="img-cuadro" src="images/abstracto pincel 1m.jpg" alt="acrilico pincel">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="abstracto_pincel.html">Abstracto con pincel</a></h5>
      </div>         
      <div class="item">
        <img class="img-cuadro" src="images/pouring 4m.jpg" alt="pouring">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="pouring.html">Pouring</a></h5>
      </div>
      <div class="item">
        <img class="img-cuadro" src="images/fotomontaje 1m.jpg" alt="fotomontaje">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="fotomontaje.html">Fotomontaje</a></h5>
      </div> 
    </div> 
    <div class="contenedor-otros-cuadros">    
      <div class="item padding-bottom-deco">
        <h3 class="subrayado margin-h3-home">Cuadros decorativos</h3>
        <a href="cuadros_decorativos.html"><img class="img-cuadro" src="images/cuadro decorativo.png"></a>
      </div>
      <div class="item">  
        <h3 class="subrayado margin-h3-home">Cuadros de artistas nuevos</h3>
        <a href="cuadros_artistas_nuevos.html"><img class="img-cuadro" src="images/artista nuevo 6.jpg.jpg" alt="cuadro de artista nuevo"></a>
      </div>
    </div> 
      <div class="caja-registro">
        <p>¿Queres exponer tus cuadros? Seleccionamos artistas que quieran ingresar al mundo del arte.</p>
        <p>Solo sigue los siguiente pasos:</p>
        <ul class="padding-lista-registro-artista">
          <li>Crea tu perfil</li>
          <li>Envia tus obras</li>
          <li>Expande tu red de coleccionistas</li>
        </ul>
        <a href="registro_de_artistas.html"><button class="boton-registro boton-registro-color">Registrate</button></a>
      </div>
     
      <br> 
    </main>
    <footer>
      <div class="contenedor-footer">
       <div class="margen-derecho width-cajas-footer">
        <h4 class="margen-h4-footer">¿Quienes somos?</h4>
        <ul>
          <li>Acerca de nosotros</li>
          <li>Nuestros artistas</li>
          <li>El equipo</li>
          <li>Criterios de seleccion</li>
        </ul>
       </div>
       <div class="margen-derecho width-cajas-footer">
        <h4 class="margen-h4-footer">Contactenos</h4>
        <ul>
          <li>Tel: +23 1234 5678</li>
          <li>contacto@digitalarts.com.ar</li>          
        </ul>             
        <h4 class="margen-h4-footer">Nos podes encontrar en:</h4>         
        <ul class="icono-redes caja-redes">
        <li><a href="#" style="color:deeppink;"><i class="fab fa-instagram"></i></a></li>   
        <li><a href="#" style="color:deepskyblue;"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" style="color:lawngreen;"><i class="fab fa-whatsapp"></i></a></li>
        </ul> 
       </div> 
      </div>
    </footer>
</body>
</html>