<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="icon" href="images/logo_web.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <%- include("./partials/header.ejs") %>

     <main  class="margin-registro-artista" >
      <div>
        <h3 class="margin-top querie-h-artistas">Unite a nuestra comunidad de artistas profesionales</h3>
      </div>
      <div>
         <h3 class="margin-top querie-h-artistas">Crea tu perfil y envianos las fotos de tus obras por E-mail</h3>
      </div>
      <h2 class="login margin-top querie-h-artistas">REGISTRESE AQUÍ!</h2>
      <form class="padding-registro-artistas" action="/registro_de_artistas" method="post">
        <div class="control-formulario width-input">
          <label for="surname">
            <input type="text" name="surname" id="surname"placeholder="Ingrese su apellido" class="control" required>
          </label>
        </div>
        <div class="control-formulario width-input">
          <label for="name">
            <input type="text" name="name" id="name" placeholder="Ingrese su nombre" class="control" required>
          </label>
        </div> 
        <div class="control-formulario width-input">
          <label for="email">
            <input type="email" name="email" id="email"placeholder="Ingrese su E-mail" class="control" required>
          </label>
        </div>  
        <div class="control-formulario width-input" >
          <label for="password1">
            <input type="password" name="password1" id="password1" placeholder="Ingrese su contraseña" class="control" required>
          </label>
        </div>
        <div class="control-formulario width-input">
          <label for="password">
            <input type="password" name="password" placeholder="Confirme su contraseña" class="control" required>
          </label>
        </div>
        <div class="control-formulario width-input">
          <label for="file1">
             <input type="file" name="file" id="file1"  class="file">
          </label>
        </div>
        <div class="control-formulario padding-bottom">
          <label for="submit">
            <input type="submit" name="submit" id="submit" class="submit">
          </label>
      </form>
     </main>

     <%- include("./partials/footer.ejs") %>

</body>
</html>