<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <div class="contenedor-header">
     <div class="item ">
       <!--<button>Menu</button>--->
       <i class="fa-solid fa-bars posicion-menu"></i>
       <div class="drop-down">
         <ul>
           <li>Abstracto con espatula</li>
           <li>Abstracto con pincel</li>
           <li>Fotomontaje</li>
           <li>Pouring</li>
           <li>Cuadros decorativos</li>
           <li>Artistas nuevos</li>
         </ul>
      </nav> 
      </div>  
     </div>  
     <div class="item">
      <img class="tamaño-logo" src="images/logo2.png" alt="logo">
     </div>
     <div class="acceso item">
       <i class="fa-solid fa-magnifying-glass"></i>
       <i class="fa-solid fa-user"></i>
       <i class="fa-solid fa-bag-shopping"></i>
     </div>  
    </div>     
   </header>    
     <main>
      <div>
        <p>Unete a nuestra comunidad de artistas profesionales</p>
      </div>
      <div>
         <p>X tu perfil y envianos las fotos de tus obras por E-mail</p>
      </div>
      <form action="" method="post">
        <div>
          <label>
            <input type="text" name="registrate" placeholder="Registrate">
          </label>
        <div>
          <label>
            <input type="text" name="apellido" placeholder="Apellido">
          </label>
        </div>
        <div>
          <label>
            <input type="text" name="nombre" placeholder="Nombre">
          </label>
        </div> 
        <div>
          <label>
            <input type="email" name="email" placeholder="E-mail">
          </label>
        </div>  
        <div>
          <label>
            <input type="password" name="password" placeholder="Contraseña">
          </label>
        </div>
        <div>
          <label>
            <input type="password" name="password" placeholder="Confirme su contraseña">
          </label>
        </div>
        <div>
          <label>
             <input type="file" name="archivo" placeholder="Subir archivos">
          </label>
        </div>
        <div>
          <label>
            <input type="text" name="regitrese" placeholder="REGISTRARSE">
          </label>
      </form>
     </main>
     <footer>
        <div class="contenedor-footer">
         <div class="cajita margen-derecho">
          <h4>¿Quienes somos?</h4>
          <ul>
            <li>Acerca de nosotros</li>
            <li>Nuestros artistas</li>
            <li>El equipo</li>
            <li>Criterios de seleccion</li>
          </ul>
         </div>
         <div class="cajita margen-derecho">
          <h4>Contactenos</h4>
          <ul>
            <li>Tel: +23 1234 5678</li>
            <li>contacto@digitalarts.com.ar</li>          
          </ul>
         </div>
         <div class="cajita">
          <h4>Nos podes encontrar en:</h4>
         </div>
        </div>
    </footer>
</body>
</html>