*{
    box-sizing: border-box;
}
main{
    background-color: rgb(180, 185, 184);
}
.img-cuadro {
    width: 100%;
}
.tamaño-logo{
    width: 50%;
}
.contenedor-header{
    border: 3px solid black;
    background-color: rgba(216, 128, 26, 0.968);
    display: flex;
    justify-content: space-between;
    
}
.contenedor-footer{
    display: flex;
    padding: 2%;
    border: 3px solid black;
    background-color: rgba(216, 128, 26, 0.968);
}
.contenedor-footer > .cajita{
    flex-basis: 100%;
}
.contenedor-menu.active .drop-down {
    display: block;
}
.contenedor-menu.active button::before {
    top: 17px;
}
.drop-down {
    border: 1px solid;
    width: 150px;
    border-radius: 5px;
    display: none;
    margin: 10px;
}
button {
    border: none;
    position: relative;
    padding: 10px 10px;
    /*width: 50%;*/
    color: white;
    cursor: pointer;
    background: black;
    font-size: 1rem;
    font-weight: bold;
}
/*
button::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 50px;
    top: 11px;
    transition: 0.5s;
}*/
.contenedor-header ul{
    background: white;
    border-radius: 4px;
}
.drop-down>ul li{
    list-style: none;
    padding: 10px 20px;
    transition: 0.2s ease;
    cursor: pointer;
}
.drop-down>ul li:hover{
    opacity: 0.7;
    border-bottom: 4px solid black;
}
.contenedor1{
    display: flex;
    flex-wrap: wrap;
}
.item{
    flex: 1 1 150px;
    padding-left: 5%;
    padding-right: 5%;
}
.pad{
    padding-left: 5%;
    padding-right: 5%;
    
}

.contenedor-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.boton-registro{
    width: 40%;
    height: 15%;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(174, 164, 214, 0.1);
    transition: all 0.3s ease;
    
}
.boton-registro:hover{
    background: #2ceae5;
    transform: translate(-7px);
    color: white;
    box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}
.caja-registro{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    border: 3px solid black;
    padding: 2%;
    background-color: white;
}
.margen-derecho{
    margin-right: 2%;
}
.subrayado{
    text-decoration: underline;
}
.margin-top{
    margin-top: 0px;
    margin-bottom: 3%;
}
.sin-margen{
    margin-top: 0px;
}
/*menu*/
.botonMenu{
   /*margin: auto;*/
   display: block;
   width: 30%;
   height: 10%;
   padding-left: 3%;
   padding-bottom: 3%;
   padding-top: 1%;
   padding-right: 1%;
   border-radius: 7px;
   background: rgb(23, 5, 71);
   color: white;
   cursor: pointer;
   position: relative;
}

.botonMenu span{
   display: block;
   width: 20px;
   height: 3px;
   background: white;
   margin-top: 7px;
}

label{
   cursor: pointer;
}

#menu-toggle{
   display: none;
}

#trickMenu{
   display: none;
   text-align: center;
   background: white;
   padding: 10px 0;
}

#trickMenu li a{
   display: block;
   padding: 10px 0;
   color: black;
}

#menu-toggle:checked + #trickMenu{
   display: block;
}
nav ul{
    list-style-type: none;
   
}