*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

main{
    background-image: url("../images/others/backkk.jpg");
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* HEADER */
.contenedor-header{
    border-bottom: 1px solid #00000054;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar{
   display: none;
}

.profile-image{
    width: 38px;
    height: 38px;
    border-radius: 25px;
}

.profile-none{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vw;
}

.conteiner-profile{
    display: flex;
    justify-content: flex-end;
}

.tamaño-logo{
    width: 60%;
}

.width-cajas-header{
    width: 33%;
}

.posicion-menu{
    font-size: 25px;
    font-size: 25px;
    padding-left: 3%;
    padding-top: 5%;
    background: linear-gradient(90deg, rgb(45 100 136 / 88%) 0%, rgb(222 222 235 / 94%) 51%, rgb(45 100 136 / 0%) 100%);
}

.posicion-logo{
    display: flex;
    justify-content: center;
}

.acceso{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5%;
    /*
    background: linear-gradient(90deg, rgb(203 187 187 / 0%) 0%, rgb(222 222 235 / 94%) 51%, rgba(45,100,136,1) 100%);*/
}  
.tamaño-icono-acceso{
    font-size: 4vw;
    color: black;
    padding-right: 3vw;
    animation: float 5s ease-in-out infinite;
} 

.fa-bag-shopping{
    animation-delay: 1s;
    color: rgb(245 15 187);
}

.fa-house{
    animation-delay: 2s;
    color: rgb(27, 205, 205);
}

.fa-user{
    color: #2f2fbb;
}

@keyframes float {
    0% { transform: translateY(0);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0);}
}

/* MAIN */
main{
    background-color: white;
    padding-top: 17vw;
}

.img-cuadro {
    width: 100%;
    box-shadow: 15px 15px 3px 5px rgb(37 36 36 / 87%);
    margin-bottom: 2vh;
}

.item{
    padding-left: 15%;
    padding-right: 15%;
}

h5{
     margin-top: 5px;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 12px;
     padding-top: 0;
     color: rgb(37, 36, 36);
 }

.link-h5{
    text-decoration: none;
    color:#000000a6;;
}

.tamaño-letra-detalle-cuadro{
     font-size: 4vw;
}

.subrayado{
    text-decoration: underline;
    font-size: 4vh;   
    font-weight: bold; 
}

.margin-bottom-h5{
    margin-bottom: 35px;
    font-size: 2.2vh;
    padding-top: 10px;
    font-weight: bold;
}

.margin-h3-home{
    padding-bottom: 25px;
}

.padding-bottom-deco{
    padding-bottom: 30px;
}

.margin-top{
    padding-left: 8%;
    padding-top: 10px;
    margin-bottom: 18px;
    margin-top: 0px;
}

.boton-registro{
    width: 50%;
    height: 15%;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(174, 164, 214, 0.1);
    transition: all 0.3s ease;
}



.padding-lista-registro-artista{
    padding: 10px 20px;
}

.box-register-artist{
    border: 1px solid black;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.boton-registro:hover{
    background: #2ceae5;
    transform: translate(-7px);
    color: white;
    box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}
.caja-registro{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border: 3px solid black;
    padding: 2%;
    background-color: #385454fa;
    color: white;
}

.link-register{
    color: #ff9900;
}

.boton-registro-color {
    border: none;
    position: relative;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    background: black;
    font-size: 4vw;
    font-weight: bold;
    margin-left: 25%;
   
}

.submit{
    font-size: 17px;
    padding: 4px;
}

.margin-registro-artista{
    padding-left: 4vw;
    padding-right: 4vw;
}

/* FOOTER */
.contenedor-footer{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background: radial-gradient(circle, rgba(203,187,187,0) 0%, rgb(222 222 235) 51%, rgba(45,100,136,1) 100%);
    width: 100%;
    margin: auto;
    
}

.margen-h4-footer{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 3vw;
}

.width-cajas-footer-left{
    width: 50%;
}

.width-cajas-footer-right{
    width: 50%;
}

.margen-derecho{
    margin-right: 2%;
}

.contenedor-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.width-instagram{
    width: 40%;
    color: rgb(166, 14, 98);
}
.width-facebook{
    width: 40%;
    color: rgb(64, 64, 209);
}
.caja-redes{
    background: black;
    width: 50%;
}
.icono-redes{
    display: flex;
    justify-content: center;
    list-style: none;
}

.fab{
    font-size: 3vw;
}

.icono-redes li{
    padding: 7%;
}
.icono-redes li a{
    font-size: 100%;
    text-shadow: 0 0 0px;
    transition: 0.3s ease;
}
.icono-redes li a:hover{
    text-shadow: 0 0 10px;
}

/*FORMULARIO*/

.formulario{
    padding: 25px 20px;
}

.control-formulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 4px 8px;
    font-size: 15px;
}

.button-login{
    background-color: black;
    color: white;
    width: 90px;
    margin-bottom: 20px;
}

.centrar-login{
    display:flex;
    justify-content: center;
}

.button-register{
    width: 150px;
    background-color: black;
    color: white;
    padding: 8px 8px;
}

.cuadros_decorativos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px;
}
.file {
    width: 50%;
    padding: 10px 10px;
}

.padding-register{
    padding: 30px 5%;
}

.margin-h2{
    margin-bottom: 10px;
    margin-top: 20%;
}

.margin-button-register{
    margin-top: 30px;
    margin-bottom: 10px;
}

.margin-button-login{
    margin-top: 30px;
    padding-bottom: 20PX;
}

.margin-h2-login{
    padding-bottom: 20px;
    font-size: 40px;
    margin-top: 15px;
}

.centrar-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*CUADROS DECORATIVOS*/
.cuadros_decorativos{
    margin-top: 0px;
    padding-top: 15px ;
}

.sin-margen-bottom{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

/*ABSTRACTO ESPATULA*/
.contenedor-detalle-carrito{
    display: flex;
    justify-content: space-between;
}

.contenedor-cuadros-espatula{
    padding-top: 50px;
    
}

.caja-detalle-cuadro{
    border: 2px black solid;
    width: 60%;
    padding: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.width-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.padding-bottom{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.carrito-centrado{
    margin: auto;
    padding: 10px;
}

/* CARRITO */
.caja-compra-cuadro{
    width: 30%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.caja-precio-cuadro{
    width: 120px;
    padding: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.cuadro-carrito{
    width: 80px;
    height: 80px;
    padding: 5px;
}

.caja-carrito-unidad{
    border: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;

}

.tamaño-precio{
    font-size: 20px;
    font-weight: bold;
    width: 90%;
}

.caja-total{
    border: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
}

.medida-caja-precio{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.tamaño-letra-total{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.boton-compra-carrito{
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(14 14 91);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.centrado{
    background-color: #11118d;
    color: white;
    border-radius: 15px;
    border: 2px white solid;
    font-size: 12px;
    padding: 10px 10px;
}

/*MENU HAMBURGUESAA*/

.dropbtn {
    background-color: rgb(37 36 36);
    color: rgb(37 36 36);
    padding: 1.5vw;
    font-size: 3vh;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: white;
}

.tamaño-letra-menu-desplegable{
    font-size: 3vw;
}

.tamaño-galeria{
    display: none;
}

/* DETALLE DE PRODUCTO */

.contenedor-detail{
    display: flex;
    padding-top: 2%;
    padding-bottom: 5%;
}

.caja-detail-1{
    width: 45%;
}

.caja-detail-2{
    width:40%;
    margin-top: 1%;
}

.img-detail{
    width: 70%;
    box-shadow: 15px 15px 3px 5px rgb(37 36 36 / 87%);
    padding-left: 5%;
}

.h2-detail{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 4vw;
}

.p-detail{
    font-size: 2.2vw;
    margin-bottom: 2%;
}

.caja-edit{
    width: 65%;
    padding-bottom: 10%;
}

.comprar-detail{
    width: 60%;
    text-decoration: none;
    border: 1px solid black;
    padding: 6% 15%;
    background-color: #162bcb;
    color: rgb(241, 233, 233);
    border-radius: 5px;
}

.caja-comprar{
    margin-top: 10%;
    width: 80%;
}

.edit-detail{
    width: 90%;
    text-decoration: none;
    border: 1px solid black;
    padding: 10% 12%;
    background-color: #2ceae5;
    color: black;
    border-radius: 5px;
}

.caja-detail{
    width: 93%;
}

.delete-detail{
    width: 90%;
    background-color: red;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 6% 2%;
}

.contenedor-edit-delete{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}


/*formulario de creación de productos*/

.contenedor-create{
    width: 90%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;

}

.box-create{
    padding-bottom:  15px;
    margin: auto;
}

.h2-create{
    margin: auto;
    width: 80%;
    padding-top: 5%;
}

.large-description{
     width: 60%;
}

.large-size{
    width: 15%;
}

.large-price{
    width: 20%;
}

.save-product{
    font-size: 3vw;
    padding: 1% 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #1ee3a1;
}

.remember-box{
    padding-bottom: 15px;
    padding-top: 15px;
    width: 70%;
}

.carousel {
    display: none;
}

.login-box{
    width: 70%;
}

.red-message-register{
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.weight-label{
    font-weight: bold;
    font-size: 20px;
}

.form-label{
    font-weight: bold;
}

.color-link-index{
    color: black;
}

.frase-header{
    display: none;
}

.conteiner-logout{
   display: flex;
   flex-direction: column;
}

.image-size{
    width: 40%;
    padding: 0px 2% ;
}

.session-perfil{
    display: flex;
    justify-content: center;
    padding: 3%;
}

.user-name{
    margin-top: 2%;
    padding: 2%;
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 35%;
    animation: anim 5s infinite;
}
@keyframes anim {
    from { width: 0;}
}

.tamaño-link-user{
    text-decoration: none;
    
}

.none-point{
    list-style: none;
}

.title-users{
    margin-top: 2%;
    padding: 2%;
    font-size: 4.5vw;
    font-weight: bold;
}

.colour-1{
    color: orangered ;
    font-weight: bold;
    font-size: 4vw;
}
.colour-2{
    color: rgb(96, 232, 202) ;
    font-weight: bold;
    font-size: 4vw;
}
.colour-3{
    color:rgb(29, 29, 237) ;
    font-weight: bold;
    font-size: 4vw;
}
.colour-4{
    color:#0fb324;
    font-weight: bold;
    font-size: 4vw;
}
.colour-5{
    color:rgb(233, 58, 151) ;
    font-weight: bold;
    font-size: 4vw;
}
.colour-6{
    color:rgb(0, 11, 0) ;
    font-weight: bold;
    font-size: 4vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    
}

.wrapper h1 {
    margin: 0; 
    color: rgba(225, 225 , 225, 0.01);
    background-image: url("../images/users/1657134609500.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 10s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

h1{
    font-size: 6vw;
}

@keyframes animate {
    0%,
    100% {
        background-position: left top;
    }
    25% {
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right top;
    }

}

/* carrito */
.contenedor-carrito{
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2% 1%;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-around;
}

.imagen-carrito{
    width: 20%;
}

.tamaño-precio-carrito{
    font-size: 3vw;
    font-weight: bold;
}

.centrar-boton-carrito{
    display: flex;
    justify-content: center;
}

/* cubo */

.wraper {
    --imagesize: 200px;
    --transform: 
    calc(var(--imagesize) / 2);
    perspective: 500px;
    padding: 50px;
    display: none;
}

.wraper:hover {
    transform:  scale(1.5);
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    width: var(--imagesize);
    height: var(--imagesize);
    animation: rotate 10s ease-in-out infinite ;
    transform-origin: center center;
    margin-top: 30%;
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #333;
    opacity: .95;
    background-size: cover;
    background-repeat: no-repeat;
}

.wraper:hover .side {
    opacity: 1;
}

.back {
    transform: translateZ(-100px) rotateX(180deg);
    background-image: url("../images/abstracto\ espatula\ 10m.jpg");
}

.left {
    transform: translateX(-100px) rotateY(90deg);
    background-image: url("../images/abstracto\ pincel\ 3m.jpg");
}

.right {
    transform: translateX(var(--transform)) rotateY(90deg);
    background-image: url("../images/abstracto\ espatula\ 2m.jpg");
}

.top {
    transform: translateY(-100px) rotateX(90deg);
    background-image: url("../images/abstracto\ pincel\ 9m.jpg");
}

.bottom {
    transform: translateY(var(--transform)) rotateX(270deg);
    background-image: url("../images/abstracto\ espatula\ 9m.jpg");
}

.front {
    transform: translateZ(var(--transform));
    background-image: url("../images/abstracto\ espatula\ 5m.jpg");
}

@keyframes rotate {
    0% {transform: rotateX(0)}
    12.5% {transform: rotateY(90deg)}
    25% {transform: rotateY(270deg)}
    37.5% {transform: rotateY(270deg)}
    50% {transform: rotateY(360deg)}
    62.5% {transform: rotateX(90deg)}
    75% {transform: rotateX(180deg)}
    87.5% {transform: rotateX(270deg)}
    100% {transform: rotateX(360deg)}
}

.button-create{
    display: flex;
    justify-content: center;
    padding: 3%;
}

.container-edit-form{
    padding: 4%;
}




/*media queries tablet*/

@media (min-width: 481px){
    .contenedor-home {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor-otros-cuadros{
        display: flex;
        flex-wrap: wrap;
        padding-top: 4vh;
    }

    .item{
        flex: 1 1 50%;  
        max-width: 50%;  
        padding-left: 12%;
        padding-right: 12%;
    }
    .contenedor-cuadros-espatula{
        display: flex;
        flex-wrap: wrap;
        
    }
    .padding-bottom{
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
    }
    .tamaño-letra-detalle-cuadro {
        font-size: 2vw;
    }
    .margin-top {
        padding-top: 3vh;
        margin-bottom: 4vh;
    } 
    .ultimo-cuadro-querie{
        width: 50%;
    }
    .padding-register{
        padding: 30px 10%;
    }
    .querie-h-artistas{
        text-align: center;
        font-size: 3vh;
        padding: 2px;
        margin-top: 20px;
    }
    .padding-registro-artistas{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .width-input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tamaño-galeria{
        width: 100%;
        display: block;
        height: 25vw;
    }
    .margin-h2-login {
        padding-top: 5%;
        margin-top: 0px;
    }
    .margin-h2{
        margin-top: 0px;
    }
    .contenedor-header{
        position: static;
        display: flex;
        flex-wrap: nowrap;
    }
    main{
        padding-top: 0;
    }
    .navbar{
        display: none;
    }
    .caja-registro{
        width: 400px;
    }
    .caja-contacto{
        width: 50%;

    }
    .caja-link-redes{
       width: 50%;
       padding-left: 5%;
    }
    .width-cajas-footer-left{
        width: 35%;
    }
    .width-cajas-footer-right{
        width: 65%;
        display: flex;
    }
   
    .contenedor-create{
       width: 80%;
    }
    .form-input{
       font-size: 2vw;
    }
    .form-label{
       font-size: 2vw;
    }
    .save-product{
        font-size: 2vw;
    }
    .h2-create{
        font-size: 3vw;
    }
    .box-register-artist{
        width: 40%;
    }
    .carousel {
        display: block;
    }
    .control-formulario {
        margin-bottom: 15px;
        width: 80%;
        margin: auto;
        padding-bottom: 15px;
    }
    .login-box{
        width: 360px;
    }
    .w-100{
        height: 25vw;
    }
    .caja-detail{
        width: 140px;
    }
    .caja-edit{
        width: 160px;
    }
    .caja-comprar{
        width: 160px;
    }
    .boton-registro-color {
        font-size: 80%;
    }
    .tamaño-icono-acceso {
        font-size: 3vw;
        padding-right: 5vw;
    }
    .profile-image{
        width: 55px;
        height: 55px;
        border-radius: 30px;
    }
    .remember-box{
        width: 360px;
    }
    .conteiner-logout{
        display: flex;
        flex-direction: row;
    }
    .container-users-link{
        padding-top: 4%;
        width: 60%;
    }
    .container-users-perfil{
        width: 40%;
    }
    .image-size {
        width: 60%;
        margin-left: 20px;
    }
    .user-name{
        width: 80%;
    }
    h1 {
        font-size: 4vw;
    }
    .contenedor-edit-delete { 
        flex-direction: row;
    }
    

    /*media queries pc*/

@media (min-width: 1024px){
    .contenedor-home{
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h1 {
        font-size: 2.5vw;
    }
    .item {
        padding-left: 4%;
        padding-right: 4%;
        width: 25%;
        flex: 1 1 25%;
        max-width: 34%;
    }
    .margin-bottom-h5{
        font-size: 2vw;
    }
    
    .padding-bottom{
        flex: 1 1 33%
    }
    .tamaño-letra-detalle-cuadro {
        font-size: 2vh;
    }
    .padding-register{
        padding: 30px 10%;
    }
    
    .cuadro-achicado{
        width: 30%;
    }
    .ultimo-detalle-pincel{
        width: 17%;
    }
    .ultimo-carrito-pincel{
        width: 80%;
    }
    main{
        padding-top: 0px;
    }
    .posicion-menu{
        display: none;
    }
    .centrado:hover {
        background-color: rgb(0, 0, 0);
        padding: 20px 20px;
        transition: all .5s ease-in-out;
    }
    .margin-h2 {
        margin-bottom: 2.5vw;
        
    }
    .margin-button-login {
        padding-bottom: 4vw;
    }
    .dropdown-content{
        display: block;
    }
    .contenedor-header{
        position: static;
        display: flex;
        height: 105px;
        flex-wrap: nowrap;
        background: linear-gradient(90deg, rgba(203,187,187,0) 0%, rgb(222 222 235 / 23%) 51%, rgba(45,100,136,1) 100%);
    }
    .tamaño-icono-acceso {
        font-size: 2vw;
        padding-right: 3vw;
    }
    .tamaño-logo {
        width: 150px;
        height: 100px;
        margin-right: 50%;       
        
    }
    .acceso{
        padding-top: 14vh;
        background: none;
        padding-top: 60px;
        
    }
    .navbar{
        display: inline;
        text-decoration: none;
        width: 100%;
        list-style-type: none;
        height: 32px;
        display: flex;   
        justify-content: space-evenly;
     }
     .navbar ul{
         padding: 0px;
     }
     .navbar li {
         display: inline;
         padding: 10px 1vw;
        
     }
    .width-cajas-header {
        width: 20%;
        height: 16vh;
        margin-bottom: 2vw;
    }
    .tamaño-letra-menu-desplegable {
        font-size: 1.2vw;
        text-decoration: none;
        font-weight: bold;
    }
    .colour-1{
        color: orangered ;
    }
    .colour-2{
        color: rgb(96, 232, 202) ;
    }
    .colour-3{
        color:rgb(29, 29, 237) ;
    }
    .colour-4{
        color:#0fb324;
    }
    .colour-5{
        color:rgb(233, 58, 151) ;
    }
    .colour-6{
        color:rgb(0, 5, 0) ;
    }
    .tamaño-galeria{
        height: 20vw;
    }
    .margen-h4-footer{
        font-size: 2vw;
    }
    .box-register-artist{
        width: 30%;
    }
    .control-formulario{
        width: 50%;
        padding-right: 25px;
        padding-left: 25px;
    }
    .conteiner-register{
        display: flex;
        flex-wrap: wrap;
    }
    .margin-button-register{
        padding-top: 2vw;
    }
    .w-100{
        height: 33vh;
    }
    .form-input{
        font-size: 1.5vw;
    }
    .form-label{
        font-size: 1.5vw;
        font-weight: bold;
    }
    .save-product{
        font-size: 1.5vw;
    }
    .frase-header{
        margin: auto;
        display: block;
        height: 60%;
        display: flex;
        padding-top: 27px;

    }
    .p-frase-header{
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        font-size: 2vw;
    }
    .tamaño-logo{
        margin-right: 30%;
    }
    .contenedor-otros-cuadros{
        display: flex;
        justify-content: space-evenly;
        padding-top: 4vh;
    }
    .conteiner-profile {
        display: contents;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .fa-user {
        color: #ff9c07;
    }
    .profile-none{
        padding-top: 22px;
    }
    .user-name{
        font-size: 3vw;
    }
    .title-users{
        font-size: 3vw;
    }
    .tamaño-link-user{
        font-size: 2vw;
    }
    .wraper {
        display: flex;
        
    }
    
}    

}