*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

/* HEADER */
.contenedor-header{
    border-bottom: 1px solid #00000054;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.tamaño-logo{
    width: 60%;
}

.width-cajas-header{
    width: 33%;
}

.posicion-menu{
    margin: auto;
    font-size: 25px;
    margin-left: 10px;
}
.posicion-logo{
    display: flex;
    justify-content: center;
}

.acceso{
    display: flex;
    padding-top: 10%;
    padding-bottom: 2%;
    justify-content: flex-end;
    margin-left: 20px;
}  
.tamaño-icono-acceso{
    font-size: 4vw;
    color: black;
    padding-right: 5vw;
    animation: float 5s ease-in-out infinite;
} 

.fa-bag-shopping{
    animation-delay: 1s;
    color: rgb(245 15 187);
}

.fa-house{
    animation-delay: 2s;
    color: rgb(27, 205, 205);
}

.fa-user{
    color: #2f2fbb;
}

@keyframes float {
    0% { transform: translateY(0);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0);}
}

/* MAIN */
main{
    background-color: white;
    padding-top: 100px;
}

.estilo-h1{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 4vh;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.img-cuadro {
    width: 100%;
    box-shadow: 10px 10px 5px 2px rgb(37 36 36 / 63%);
    margin-bottom: 1vh;
}

.item{
    padding-left: 8%;
    padding-right: 8%;
}

h5{
     margin-top: 5px;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 12px;
     padding-top: 0;
     color: rgb(37, 36, 36);
 }

.link-h5{
    text-decoration: none;
    color:#000000a6;;
}

.tamaño-letra-detalle-cuadro{
     font-size: 4vw;
}

.subrayado{
    text-decoration: underline;
    font-size: 4vh;    
}

.margin-bottom-h5{
    margin-bottom: 35px;
    font-size: 2vh;
    padding-top: 10px;
}

.margin-h3-home{
    padding-bottom: 25px;
}

.padding-bottom-deco{
    padding-bottom: 30px;
}

.margin-top{
    padding-left: 8%;
    padding-top: 10px;
    margin-bottom: 18px;
    margin-top: 0px;
}

.boton-registro{
    width: 50%;
    height: 15%;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(174, 164, 214, 0.1);
    transition: all 0.3s ease;
    
}

.padding-lista-registro-artista{
    padding: 10px 20px;
}

.boton-registro:hover{
    background: #2ceae5;
    transform: translate(-7px);
    color: white;
    box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}
.caja-registro{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    border: 3px solid black;
    padding: 2%;
    background-color: #f1def1;
}

.boton-registro-color {
    border: none;
    position: relative;
    padding: 10px 10px;
    /*width: 50%;*/
    color: white;
    cursor: pointer;
    background: black;
    font-size: 1rem;
    font-weight: bold;
}

.submit{
    font-size: 17px;
    padding: 4px;
}

.margin-registro-artista{
    padding-left: 4vw;
    padding-right: 4vw;
}

/* FOOTER */
.contenedor-footer{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: rgb(225 188 33 / 61%);;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

.margen-h4-footer{
    margin-top: 5px;
    margin-bottom: 10px;
}

.width-cajas-footer{
    width: 50%;
}

.margen-derecho{
    margin-right: 2%;
}

.contenedor-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.width-instagram{
    width: 40%;
    color: rgb(166, 14, 98);
}
.width-facebook{
    width: 40%;
    color: rgb(64, 64, 209);
}
.caja-redes{
    background: black;
    width: 50%;
}
.icono-redes{
    display: flex;
    justify-content: center;
    list-style: none;
}
.icono-redes li{
    padding: 7%;
}
.icono-redes li a{
    font-size: 100%;
    text-shadow: 0 0 0px;
    transition: 0.3s ease;
}
.icono-redes li a:hover{
    text-shadow: 0 0 10px;
}

/*FORMULARIO*/

.formulario{
    padding: 25px 20px;
}

.control-formulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 8px 8px;
    font-size: 15px;
}

.button-login{
    background-color: black;
    color: white;
    width: 90px;
}

.centrar-login{
    display:flex;
    justify-content: center;
}

.button-register{
    width: 150px;
    background-color: black;
    color: white;
}

.cuadros_decorativos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px;
}
.file {
    width: 50%;
    padding: 10px 10px;
}

.padding-register{
    padding: 30px 5%;
}

.margin-h2{
    margin-bottom: 10px;
}

.margin-button-register{
    margin-top: 30px;
    margin-bottom: 10px;
}

.margin-button-login{
    margin-top: 30px;
    padding-bottom: 20PX;
}

.margin-h2-login{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 40px;
}

.centrar-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*CUADROS DECORATIVOS*/
.cuadros_decorativos{
    margin-top: 0px;
    padding-top: 15px ;
}

.sin-margen-bottom{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

/*ABSTRACTO ESPATULA*/
.contenedor-detalle-carrito{
    display: flex;
    justify-content: space-between;
}

.caja-detalle-cuadro{
    border: 2px black solid;
    width: 60%;
    padding: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.padding-bottom{
    padding-bottom: 35px;
    margin-bottom: 0px;
}

.carrito-centrado{
    margin: auto;
    padding: 10px;
}

/* CARRITO */
.caja-compra-cuadro{
    width: 30%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.caja-precio-cuadro{
    width: 120px;
    padding: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.cuadro-carrito{
    width: 80px;
    height: 80px;
    padding: 5px;
}

.caja-carrito-unidad{
    border: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;

}

.tamaño-precio{
    font-size: 20px;
    font-weight: bold;
    width: 90%;
}

.caja-total{
    border: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
}

.medida-caja-precio{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.tamaño-letra-total{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.boton-compra-carrito{
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(14 14 91);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.centrado{
    background-color: #11118d;
    color: white;
    border-radius: 15px;
    border: 2px white solid;
    font-size: 12px;
    padding: 10px 10px;
}

/*MENU HAMBURGUESAA*/

.dropbtn {
    background-color: white;
    color: black;
    padding: 1.5vw;
    font-size: 3vh;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8e28d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: white;
}

.tamaño-letra-menu-desplegable{
    font-size: 3vw;
}

.tamaño-galeria{
    display: none;
}

/*media queries tablet*/

@media (min-width: 481px){
    .contenedor-home {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor-otros-cuadros{
        display: flex;
        flex-wrap: wrap;
        padding-top: 4vh;
    }
    .item{
        flex: 1 1 50%;      
    }
    .caja-registro{
        width: 60%;
    }
    .contenedor-cuadros-espatula{
        display: flex;
        flex-wrap: wrap;
    }
    .padding-bottom{
        padding-left: 3%;
        padding-right: 3%;
    }
    .tamaño-letra-detalle-cuadro {
        font-size: 2vw;
    }
    .margin-top {
        padding-top: 3vh;
        margin-bottom: 4vh;
    } 
    .ultimo-cuadro-querie{
        width: 50%;
    }
    .padding-register{
        padding: 30px 10%;
    }
    .querie-h-artistas{
        text-align: center;
        font-size: 3vh;
        padding: 2px;
    }
    .padding-registro-artistas{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .width-input{
        width: 70vw;
    }
    .estilo-h1{
        padding-bottom: 5vh;
    }
    .tamaño-galeria{
        width: 100%;
        display: block;
    }
}

/*media queries pc*/

@media (min-width: 1024px){
    .contenedor-home{
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .item {
        padding-left: 4%;
        padding-right: 4%;
        width: 25%;
        flex: 1 1 25%;
    }
    .margin-bottom-h5{
        font-size: 2vw;
    }
    .estilo-h1{
        font-size: 5vw;
        padding-bottom: 5vh;
    }  
    .caja-registro{
        width: 40vw;
    }
    .padding-bottom{
        flex: 1 1 33%
    }
    .tamaño-letra-detalle-cuadro {
        font-size: 2vh;
    }
    .padding-register{
        padding: 30px 20%;
    }
    .width-input{
        width: 60vw;
    }
    .cuadro-achicado{
        width: 30%;
    }
    .ultimo-detalle-pincel{
        width: 17%;
    }
    .ultimo-carrito-pincel{
        width: 80%;
    }
    main{
        padding-top: 200px;
    }
    .posicion-menu{
        display: none;
    }
    .centrado:hover {
        background-color: rgb(0, 0, 0);
        padding: 20px 20px;
        transition: all .5s ease-in-out;
    }
    
    
    
}
