<%- include("./partials/head") %>

<body>

  <%- include("./partials/header") %>

   
    <main>

        <h2 class="h2-create">Formulario de Carga y Creación de Productos</h2>

        <form action="/products" method="POST" enctype="multipart/form-data" >
        <div class="contenedor-create">

            <div class="box-create">
                <label for="" class="form-label">Elija la categoría:</label>
                <select  name="category" class="form-input" id="" required>              
                  <option value="abstractoEspatula">abstractoEspatula</option>
                  <option value="abstractoPincel">abstractoPincel</option>
                  <option value="pouring">pouring</option>
                  <option value="fotomontaje">fotomontaje</option>
                  <option value="cuadroDecorativo">cuadroDecorativo</option>
                  <option value="artistasNuevos">artistasNuevos</option>
                </select>
            </div>

            <div class="box-create">
                <label for="name" class="form-label">Nombre del Producto:</label>
                <input type="text" name="name" class="form-input" id="name">
            </div>
      
            <div class="box-create">
                <label for="description" class="form-label">Descripción</label>
                <select  name="description" class="form-input large-description" id="description" required>              
                    <option value="técnica de acrilico con espátula">técnica de acrilico con espátula</option>
                    <option value="técnica de acrilico con pincel">técnica de acrilico con pincel</option>
                    <option value="técnica de Pouring">técnica de Pouring</option>
                    <option value="técnica de Fotomontaje">técnica de Fotomontaje</option>
                    <option value="técnica de impresión de Vinilo Mate con tintas Latex">técnica de impresión de Vinilo Mate con tintas Latex</option>
                </select>
            </div>
             
            <div class="box-create">
                <label for="size" class="form-label">Tamaño:</label>
                <input name="size" class="form-input large-size"  id="size"></input>
            </div>
            
            <div class="box-create">
                <label for="material" class="form-label">Material:</label>
                <select  name="material" class="form-input large-description" id="material" required>              
                    <option value="Bastidor en lienzo">Bastidor en lienzo</option>
                    <option value="Bastidor macizo en madera">Bastidor macizo en madera</option>
                    <option value="Madera">Madera</option>                 
                </select>
            </div>
      
            
            <div class="box-create">
                <label for="price" class="form-label">Precio:</label>
                <input type="text" name="price" class="form-input large-price" id="price">
            </div>

            <div class="box-create" >
                <label for="image" class="form-label">Imagen</label>
                <input type="file" name="image" id="image" class="form-input" accept=".jpg" /> 
            </div>

            <div class=" ">
                <button type="submit" class="save-product margin-button-save">Guardar</button>
            </div>
      </div>      
    </main>

      <%- include("./partials/footer") %>

  </body>
  </html>


