<%- include("./partials/head") %>

<body>

  <%- include("./partials/header") %>

   
    <main>

        <h2>Formulario de Carga y Creación de Productos</h2>

        <form action="/products/create" method="POST" enctype="multipart/form-data" >
            <div>
                <label for="name">Nombre del Producto</label>
                <input type="text" name="name" id="name">
            </div>
      
            <div>
                <label for="description">Descripción</label>
                <textarea name="description"  id="description"></textarea>
            </div>
      
            <div>
                <label for="image">Imagen</label>
                <input type="file" name="image" id="image" accept=".jpg" multiple>
            </div>

            <div>
                <label for="price">Precio</label>
                <input type="number" name="price" id="price">
            </div>

    </main>

      <%- include("./partials/footer") %>

  </body>
  </html>






