<%- include("./partials/head") %>

<body>
    
    <%- include("./partials/header") %>

    <main>
      <img class="tamaño-galeria" src="images/gall.jpg" alt="galeria">
     <h1 class="estilo-h1">Descubre nuestra coleccion de Arte</h1> 
     <div class="contenedor-home">   
      <div class="item">
        <img class="img-cuadro" src="images/abstracto espatula 1m.jpg" alt="acrilico espatula">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="abstracto_espatula">Abstracto con espatula</a></h5>
      </div>
      <div class="item" > 
        <img class="img-cuadro" src="images/abstracto pincel 1m.jpg" alt="acrilico pincel">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="abstracto_pincel">Abstracto con pincel</a></h5>
      </div>         
      <div class="item">
        <img class="img-cuadro" src="images/pouring 4m.jpg" alt="pouring">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="pouring">Pouring</a></h5>
      </div>
      <div class="item">
        <img class="img-cuadro" src="images/fotomontaje 1m.jpg" alt="fotomontaje">
        <h5 class="margin-bottom-h5"><a class="link-h5" href="fotomontaje">Fotomontaje</a></h5>
      </div> 
    </div> 
    <div class="contenedor-otros-cuadros">    
      <div class="item padding-bottom-deco">
        <h3 class="subrayado margin-h3-home">Cuadros decorativos</h3>
        <a href="cuadros_decorativos"><img class="img-cuadro" src="images/cuadro decorativo.png"></a>
      </div>
      <div class="item">  
        <h3 class="subrayado margin-h3-home">Cuadros de artistas nuevos</h3>
        <a href="cuadros_artistas_nuevos"><img class="img-cuadro" src="images/artista nuevo 6.jpg.jpg" alt="cuadro de artista nuevo"></a>
      </div>
    </div> 
      <div class="caja-registro">
        <p>¿Queres exponer tus cuadros? Seleccionamos artistas que quieran ingresar al mundo del arte.</p>
        <p>Solo sigue los siguiente pasos:</p>
        <ul class="padding-lista-registro-artista">
          <li>Crea tu perfil</li>
          <li>Envia tus obras</li>
          <li>Expande tu red de coleccionistas</li>
        </ul>
        <a href="registro_de_artistas"><button class="boton-registro boton-registro-color">Registrate</button></a>
      </div>
     
      <br> 
    </main>

    <%- include("./partials/footer") %>
    
</body>
</html>