<%- include("./partials/head", {title: 'Inicio '}) %>

<body>
    
    <%- include("./partials/header") %>

    <main>
     
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/others/gal2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/others/galeria.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/others/gall.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="wrapper">
         <h1>Descubre nuestra colección de Arte</h1> 
      </div>
     <div class="contenedor-home">   
      <div class="item">
        <a href="/productsDb/abstractoEspatula"><img class="img-cuadro" src="images/abstracto espatula 1m.jpg" alt="acrilico espatula"></a> 
        <h5 class="margin-bottom-h5"><a class="link-h5" href="/productsDb/abstractoEspatula">Abstracto con espátula</a></h5>
      </div>
      <div class="item" > 
        <a href="/productsDb/abstractoPincel"><img class="img-cuadro" src="images/abstracto pincel 1m.jpg" alt="acrilico pincel"></a>
        <h5 class="margin-bottom-h5"><a class="link-h5" href="/productsDb/abstractoPincel">Abstracto con pincel</a></h5>
      </div>         
      <div class="item">
        <a href="/productsDb/pouring"><img class="img-cuadro" src="images/pouring 4m.jpg" alt="pouring"></a>
        <h5 class="margin-bottom-h5"><a class="link-h5" href="/productsDb/pouring">Pouring</a></h5>
      </div>
      <div class="item">
        <a href="/productsDb/fotomontaje"><img class="img-cuadro" src="images/fotomontaje 1m.jpg" alt="fotomontaje"></a>
        <h5 class="margin-bottom-h5"><a class="link-h5" href="/productsDb/fotomontaje">Fotomontaje</a></h5>
      </div> 
    </div> 
    <div class="contenedor-otros-cuadros">    
      <div class="item padding-bottom-deco">
        <h3 class="subrayado margin-h3-home"><a class="color-link-index" href="/productsDb/cuadroDecorativo">Cuadros decorativos</a></h3>
        <a href="/productsDb/cuadroDecorativo"><img class="img-cuadro" src="images/cuadro decorativo.png"></a>
      </div>
      <div class="wraper">
        <div class="cube">
          <div class="side back"></div>
          <div class="side left"></div>
          <div class="side right"></div>
          <div class="side top"></div>
          <div class="side bottom"></div>
          <div class="side front"></div>
        </div>
      </div>
      <div class="item">  
        <h3 class="subrayado margin-h3-home"><a class="color-link-index" href="/productsDb/artistasNuevos">Artistas nuevos</a></h3>
        <a href="/productsDb/artistasNuevos"><img class="img-cuadro" src="images/artista nuevo 6.jpg.jpg" alt="cuadro de artista nuevo"></a>
      </div>
    </div> 
      <div class="caja-registro">
        <p>¿Queres exponer tus cuadros? Seleccionamos artistas que quieran ingresar al mundo del arte.</p>
        <p>Solo sigue los siguiente pasos:</p>
        <ul class="padding-lista-registro-artista">
          <li>Primero completa tus datos</li>
          <li>Envia tus obras a <a class="link-register" href="contacto@dgarts.com">contacto@dgarts.com</a> </li>
          <li>Expande tu red de coleccionistas</li>
        </ul>
        <div class="button-register-center">
            <a href="/usersDb/register" ><button class="boton-registro boton-registro-color">Regístrate</button></a>
        </div>
      </div>
      <br>
      <br>
      
      <!-- aca solo muestro los botones si hay alguien logueado y es administrador -->
      <% if(locals.userLogged && locals.userLogged.isAdmin == 1) { %>
      
      <div class="buttons-admin">
          <div class="button-create">
               <a href="/productsDb/create"><button class="btn btn-success">Crear cuadro</button></a>
          </div>
          <div class="button-create">
               <a href="/productsDb/category/create"><button class="btn btn-warning">Crear categoria</button></a>
          </div>
          <div class="button-create">
               <a href="/productsDb/description/create"><button class="btn btn-primary">Crear descripcion</button></a>
          </div>
          <div class="button-create">
               <a href="/productsDb/material/create"><button class="btn btn-danger">Crear material</button></a>
          </div>
      </div>
     <% } %>
    </main>

    <%- include("./partials/footer") %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>