<%- include("./partials/head") %>

<body>
    
    <%- include("./partials/header") %>

    <main>
      <h2 class="margin-h2-login centrar-login">DigitalArts</h2>
      <div class="centrar-login">
        <div class="login-box">
           <label>Email:</label>
           <input type="email" name="email" class="control" required>
        </div>

        <div class="login-box">
           <label>Contraseña:</label>
           <input type="password" name="password" class="control" required>
        </div>
       
        <div class="remember-box">
           <input type="checkbox" name="remember" class="">
           <label>Recuerdame</label>
        </div>

        <div class="">
           <button type="submit" value="login" class="control button-login">Log In</button>
        </div>
      </div>
      <p class="centrar-login">¿Olvidaste tu contraseña? <a href="register"> Click Aquí </a></p>
      <p class="centrar-login margin-button-login">¿No tenes una cuenta?  <a href="register">  REGISTRATE </a></p>
   
    </main>
    
    <%- include("./partials/footer") %>

  </body>
  </html>
