<%- include("./partials/head") %>

<body>

    <%- include("./partials/header") %>

    <main>
        <h3>Nuestros cuadros</h3>
        <img href="images/abstracto espatula 1m.jpg" alt="cuadro espatula 1">
        <p>
            Detalle del producto: <br>
            Tecnica: <br>
            Dimensiones: <br>
            Bastidor en lienzo. <br>
        </p>

        <h3>Cuadros decorativos</h3>
        <img href="images/cuadro decorativo.png" alt="cuadro decorativo">
        <p>
            Detalle del producto: <br>
            Tecnica: <br>
            Dimensiones: <br>
            Bastidor macizo en madera. <br>
        </p>

        <h3>Cuadros de artistas nuevos</h3>
        <img href="images/artista nuevo 1.jpg.jpg" alt="cuadro artista nuevo">
        <p>
            Detalle del producto: <br>
            Tecnica: <br>
            Dimensiones: <br>
            Bastidor en lienzo. <br>
        </p>

    </main>

    <%- include("./partials/footer") %>

</body>

</html>