<%- include("./partials/head") %>

<body>

  <%- include("./partials/header.ejs") %>
   <h2>Formulario de Carga y Edición de Productos</h2>
    <main>
        <form action="" method="">
            <div>gi
                <label for="nombre">Nombre del Producto</label>
                <input type="text" name="name" id="name">
            </div>
      
            <div>
                <label for="description">Descripción</label>
                <input type="text" name="description"  id="description">
            </div>
      
            <div>
                <label for="image">Imagen</label>
                <input type="file" name="image" accept=".jpg" multiple>
            </div>

            <div>
                <label for="price">Precio</label>
                <input type="number" name="price" id="price">
            </div>

    </main>

      <%- include("./partials/footer") %>

  </body>
  </html>






