<%- include("./partials/head") %>

<body>

    <%- include("./partials/header.ejs") %>

     <main  class="margin-registro-artista" >
      <div>
        <h3 class="margin-top querie-h-artistas">Unite a nuestra comunidad de artistas profesionales</h3>
      </div>
      <div>
         <h3 class="margin-top querie-h-artistas">Envia las fotos de tus obras</h3>
      </div>
        <form class="padding-registro-artistas" action="/index" method="post">
        <div class="control-formulario width-input">
          <label for="file1">
             <input type="file" name="file" id="file1"  class="file">
          </label>
        </div>
        <div class="control-formulario padding-bottom">
          <label for="submit">
            <input type="submit" name="submit" id="submit" class="submit">
          </label>
      </form>
     </main>

     <%- include("./partials/footer.ejs") %>

</body>
</html>