<footer>
    <div class="contenedor-footer">
     <div class="margen-derecho width-cajas-footer">
      <h4 class="margen-h4-footer">¿Quienes somos?</h4>
      <ul>
        <li>Acerca de nosotros</li>
        <li>Nuestros artistas</li>
        <li>El equipo</li>
        <li>Criterios de seleccion</li>
      </ul>
     </div>
     <div class="margen-derecho width-cajas-footer">
      <h4 class="margen-h4-footer">Contactenos</h4>
      <ul>
        <li>Tel: +23 1234 5678</li>
        <li>contacto@digitalarts.com.ar</li>          
      </ul>             
      <h4 class="margen-h4-footer">Nos podes encontrar en:</h4>         
      <ul class="icono-redes caja-redes">
      <li><a href="#" style="color:deeppink;"><i class="fab fa-instagram"></i></a></li>   
      <li><a href="#" style="color:deepskyblue;"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" style="color:lawngreen;"><i class="fab fa-whatsapp"></i></a></li>
      </ul> 
     </div> 
    </div>
  </footer>