<header>
    <div class="contenedor-header">
     <div class="posicion-menu width-cajas-header">       
       
       <div class="dropdown">
         <i class="fa-solid fa-bars posicion-menu dropbtn"></i>
          <div class="dropdown-content">
            <a href="/products/abstractoEspatula" class="tamaño-letra-menu-desplegable">Abstracto con espatula</a>
            <a href="/products/abstractoPincel" class="tamaño-letra-menu-desplegable">Abstracto con pincel</a>
            <a href="/products/fotomontaje" class="tamaño-letra-menu-desplegable">Fotomontaje</a>
            <a href="/products/pouring" class="tamaño-letra-menu-desplegable">Pouring</a>
            <a href="/products/cuadroDecorativo" class="tamaño-letra-menu-desplegable">Cuadros decorativos</a>
            <a href="/products/artistasNuevos" class="tamaño-letra-menu-desplegable">Artistas nuevos</a>
         </div>
       </div>  
     </div>  
     <div class="posicion-logo width-cajas-header">
      <img class="tamaño-logo " src="/images/logo2.png" alt="logo">
     </div>
    
     <div class="acceso width-cajas-header">     
       <a href="../login" ><i class="fa-solid fa-user tamaño-icono-acceso"></i></a>
       <a href="../carrito" ><i class="fa-solid fa-bag-shopping tamaño-icono-acceso"></i></a>
       <a href="/"><i class="fa-solid fa-house tamaño-icono-acceso"></i></a>
     </div>  
     <div class="navbar">
       <ul>
          <li><a href="/products/abstractoEspatula" class="tamaño-letra-menu-desplegable">Abstracto con espatula</a></li>
          <li><a href="/products/abstractoPincel" class="tamaño-letra-menu-desplegable">Abstracto con pincel</a></li> 
          <li><a href="/products/fotomontaje" class="tamaño-letra-menu-desplegable">Fotomontaje</a></li>
          <li><a href="/products/pouring" class="tamaño-letra-menu-desplegable">Pouring</a></li>
          <li><a href="/products/cuadroDecorativo" class="tamaño-letra-menu-desplegable">Cuadros decorativos</a></li>
          <li><a href="/products/artistasNuevos" class="tamaño-letra-menu-desplegable">Artistas nuevos</a></li>  
       </ul>  
     </div>  
    
  </div>

   </header>     