html{
    height: 100%;
}

body{
    background-color: rgb(65, 162, 222);
    min-height: 100%;
    
}

h1 {
    font: 10px bold 'Courier New', Courier, monospace;
}

.container-h1{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 25%;
    max-height: 80px;
    padding: 5px;
}

.p-bold{
    color: red;
    font-weight: 800;
}

.sidebar{
    width: 15%;
    height: 100vh;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.main-cards{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

h4{
    height: 0px;
}
