html{
    height: 100%;
}

body{
    background-color: rgb(102 145 241 / 97%);
    min-height: 100%; 
}

h1 {
    font: 10px bold 'Courier New', Courier, monospace;
}

.container-h1{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}
.card{
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 30%;
    max-height: 100px;
    padding: 5px;
    background-color: white;
}


.p-bold{
    color: black;
    font-weight: 800;
  font-size: 10px;
}
.amount-products-color{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
}
.amount-users-color{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
}
.amount-categories-color{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
}

.sidebar{
    width: 17%;
    height: 100vh;
    margin: 10px;
    background-color: #000000c4;
    border-radius: 10px;
}

.sidebar-dashboard{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: stretch;
    padding: 2vw 0px;
}
.main{
    width: 83%;
}

.main-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h4{
    height: 0px;
}

.bordes{
    padding: 10px;
}
.container-lists{
    display: flex;
    margin: 1vw 10px;

   
}
.box-list-users{
    width: 100%;
    border-radius: 10px;
    background-color: white;
} 
.box-list-categories{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-right: 1%;
    
}
.table{
    border: 1px black solid;
    padding: 1% 2%;
    margin: 1% 2%;
    background-image: url("../../../public/backkk.jpg");
}

.h3-list{
    display: flex;
    justify-content: center;
    background-color: #808080a6;
    width: 96%;
    margin-left: 2%;
    padding: 2% 0px;
    border-radius: 10px;
}
.width-table {
    width: 100%;
   
}
.order-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-buttons{
    background-color: white;
    color: black;
    padding: 7%;
    margin-bottom: 8%;
    border-radius: 10px;
    width: 150px;
    font-size: 10px;
}
.sidebar-buttons{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.link-buttons:hover {
    background-color: aqua;
    width: 155px;
}
.p-hover:hover {
    color: aqua;
}
.table-align-items{
    
    align-items: center;
}
.line-hr{
    color: white;
    margin-bottom: 12%;
}
.no-decoration{
    text-decoration: none;
}
.h4-card{
    font-size: 12px;
}
.container-select-category{
    display: flex;
    flex-direction: column;
}
.center-row{
    text-align: center;
    font-weight: bold;
    color: black;
}
.name-table{
    font-size: 25px;
    color: #2b36bbe3;
}